@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.logo-style {
  margin-left: 1rem;
  width: 40%;
  height: 90%;
  cursor: pointer;
  padding-top: 1rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  right: 0;
  overflow-x: hidden;
}
.nav-icon-style {
  width: 100%;
  height: 80%;
  padding-top: 1rem;
}
.nav-icon-style:hover {
  cursor: pointer;
}
.navbar-style {
  top: 0;
  width: 100%;
  background-color: rgb(202, 203, 194);
  margin-bottom: 3rem;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}
.content-style {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
  margin-top: 4rem;
}
.font-size {
  font-size: 5rem;
  color: cadetblue;
}
.shop-btn {
  padding-top: 5px;
  margin-top: 3rem;
  margin-left: 15rem;
  width: 10rem;
  height: 2rem;
  background-color: white;
  color: rgb(15, 1, 7);
  text-align: center;
}
.shop-btn:hover {
  color: aliceblue;
  background-color: rgb(90, 90, 90);
  cursor: pointer;
}
.img-style {
  width: 100%;
  height: 80%;
  position: relative;
}
.cart-style {
  padding-top: 5px;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
  width: 80%;
  margin-left: 10px;
  text-align: center;
  height: 10%;
  top: 65%;
  background-color: black;
  font-size: 1rem;
  color: rgb(243, 235, 235);
  position: absolute;
  border-radius: 5px;
}

.hover-effect:hover .cart-style {
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: block !important;
}
.cart-style:hover {
    background-color: rgb(80, 203, 194);
    color: black;
}
.sale-style {
  height: 100%;
  background-color: rgb(240, 240, 240);
}
.shop-insta-style {
  width: 100%;
  height: 80%;
  position: relative;
}
.insta-hover {
  position: absolute;
  display: none;
  width: 20%;
  height: 20%;
  margin-left: 5rem;
  color: white;
  bottom: 50%;
  top: 50%;
  cursor: pointer;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  from {opacity: 0;top: 50%;}
  to {opacity: 1;top: 40%;}
}

.hover-me:hover .insta-hover {
  display: block;
  cursor: pointer;
}
.mb-5 {
  margin-bottom: 5rem;
}
.font-color {
  color: rgb(180, 180, 180);
}
.social-icons {
  color: rgb(180, 180, 180);
  width: 70%;
  height: 70%;
  opacity: 0.5;
}
.social-icons:hover {
  cursor: pointer;
  color: rgb(8, 240, 248);
  opacity: 1;
}
.anchor-style {
  text-decoration: none;
  color: black;
  margin-top: 1rem;
}
.anchor-style:hover {
  cursor: pointer;
  color: rgb(230, 150, 47);
}
.product-header-font-style {
  font-size: 2rem;
}
.go-to-shop-style {
  text-decoration: underline;
}
.go-to-shop-style:hover {
  text-decoration: none;
  cursor: pointer;
}
.price-text-style {
  text-align: end;
  color: rgb(150, 203, 194);
}
.services-tag-style {
  font-size: 1.5rem;
  color: black;
}
.services-style {
  font-size: 1rem;
  color: lightgray;
}

.footer-tag-style {
  font-size: 2rem;
  color: black;
}
.Shop-Our-Insta-style {
  font-size: 5rem;text-align: center;
}
@media screen and (max-width:576px) {
  
  .Shop-Our-Insta-style {
    font-size: 3rem;

  }
  .nav-icon-style{
    width: 50px;
    height: 50px;
  }
  
  .common-style {
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
  }

  .font-size {
    font-size: 2rem;
    color: cadetblue;
  }
  .p-fs {
    font-size: 1.5rem;
  }

  .phone-margin {
    align-items: center;
    margin-left: 2rem;
  }

  .img-style {
    width: 100%;
    height: 50%;
  }
  
  .watch-style {
    width: 90%;
    height: 50%;
  }
 
  .shop-btn {
    margin-left: 5rem;
  }
}